extends layout

block content
  h1= title
  &nbsp
  p Zhanwen is an aspiring software engineer and roboticist. He will
    | graduate from Vassar College in December 2016. He likes Node.js
    | and knows C#, Java, C/C++, Haskell, SQL and Python.
  &nbsp
  p His cool skills include piano playing, disciplining unruly robots,
    | and recycling almost every material. In his own little world, he either
    | cooks, reads xkcd, or binges on Audible. His definition of vacation
    | is either a StarCraft session or backpacking somewhere pretty.
