extends layout

block content
  h1= title
  &nbsp
  div
    canvas#breakoutCanvas(width='480', height='320')
    script(type="text/javascript", src="https://cdn.jsdelivr.net/gh/zhanwenchen/breakout-js/breakout.js")
    p: a(href='https://github.com/zhanwenchen/breakout-js') View Source Code on Github
