extends layout

block content
  h1= title
  &nbsp
  p I created a
    a(href='https://zhanwenchen-chat.herokuapp.com/') chatroom web app
    | .

  p This web app is based on Andrew Mead's
    a(href='https://www.udemy.com/the-complete-nodejs-developer-course-2/') Udemy course.

  p I wish to expand this project by adding features including user profiles and
    | the ability to retrieve chat history.

  p
    a(href='https://github.com/zhanwenchen/node-chat-app')
      | View Source Code on Github
    a(href='https://zhanwenchen-chat.herokuapp.com/')
      | View Deployed Project
