extends layout

block content
  h1= title
  &nbsp
  p Zhanwen was a winner of the Vassar College Concerto
    | Competition for Soloists. Below is the winners' concert on Friday, May 6,
    | 2016 in the Martel Recital Hall of the Skinner Hall of Music.
  iframe(type='text/html' width="560" height="315"
    src='https://www.youtube.com/embed/uVj6w7znPOU'
    frameborder='0' allowfullscreen)
