extends layout

block content
  h1= title
  | &nbsp
  p jsPsych is an open-source behavioral experiment library in
    | JavaScript, created by Prof. Josh de Leeuw of Vassar College. My role is
    | to implement multi-user functionalities using Node.js, including a
    | waiting room plugin and a public goods game plugin.

  p
    a(href='https://github.com/zhanwenchen/jsPsych-node-client')
      | View Source Code (Client-Side) on Github\
    br
    a(href='https://github.com/zhanwenchen/jsPsych-node-server')
      | View Source Code (Server-Side) on Github
    br
    a(href='https://jspsych-node.herokuapp.com/')
      | View Deployed Project (Server-Side Only)
