extends layout

block content
  h1= title
  &nbsp
  div
    div(style='float:left')
      a(href='concerto'): img(src= "images/concerto.png")
      br
      a(href='concerto') Piano Concerto

    div(style='float:right')
      a(href='zhanwenchen.com'): img(src= "images/mindblowing.png")
      br
      a(href='zhanwenchen.com') zhanwenchen.com

    div(style='clear:both')
