extends layout

block content
  h1= title
  &nbsp
  div
    div(style='float:left')
      a(href='breakout'): img(src= "images/breakout.png")
      br
      a(href='breakout') Breakout

    div(style='float:right')
      a(href='zhanwenchen.com'): img(src= "images/mindblowing.png")
      br
      a(href='zhanwenchen.com') zhanwenchen.com

    div(style='clear:both')
