extends layout

block content
  h1= title
  | &nbsp
  div
    div(style='float:left')
      a(href='jsPsych'): img(src= "images/jsPsych.png")
      br
      a(href='jsPsych')
        p jsPsych

    div(style='float:right')
      a(href='SimulatedReality'): img(src= "images/SimulatedReality.jpg")
      br
      a(href='SimulatedReality')
        p SimulatedReality

    div(style='float:left')
      a(href='RoadJams'): img(src= "images/RoadJams.png")
      br
      a(href='RoadJams')
        p RoadJams

    div(style='float:right')
      a(href='TrainStream'): img(src= "images/TrainStream.png")
      br
      a(href='TrainStream')
        p TrainStream

    div(style='float:left')
      a(href='todo'): img(src= "images/todo.png")
      br
      a(href='todo')
        p To-Do App

    div(style='float:right')
      a(href='chat'): img(src= "images/chat.png")
      br
      a(href='chat')
        p Chat App

    div(style='float:left')
      a(href='breakout'): img(src= "images/breakout.png")
      br
      a(href='breakout')
        p Breakout

    div(style='float:right')
      a(href='zhanwenchen.com'): img(src= "images/mindblowing.png")
      br
      a(href='zhanwenchen.com')
        p zhanwenchen.com
