extends layout

block content
  h1= title
  &nbsp
  p I co-created a music web app,&nbsp
    a(href='https://RoadJams.herokuapp.com/') RoadJams
    | &nbspwith&nbsp
    a(href='http://kburk.me') Kathleen Burkhardt
    | &nbspat HackMarist in Oct 2016.

  p This web app allows a group of users to create and manage a shared Spotify
    | playlist based on their Spotify profile and preferences. The app also uses
    | the calculated trip length to optimize the length of the playlist.

  p We implemented this project with the Spotify API (JavaScript), Node.js,
    | Angular.js, Express.js, and
    | PostgreSQL. I implemented the backend, while Kathleen did the frontend,
    | including the amazing logo.

  p To expand this project, I wish to add integration with Apple Music and
    | Pandora, as well as fix the backend issue of mixed sessions by adding
    | user profile management.

  p
    a(href='https://github.com/zhanwenchen/RoadJams')
      | View Source Code on Github
    br
    a(href='https://RoadJams.herokuapp.com/')
      | View Deployed Project
