extends layout

block content
  h1= title
  &nbsp
  p Vassar College Chamber Music Concert, Nov 14, 2014
    | Zhanwen was in a chamber music group with Noah Boden, violin, and Cedric Chang, piano
    | 2016 in the Martel Recital Hall of the Skinner Hall of Music.
  iframe(type='text/html' width="560" height="315"
    src='https://www.youtube.com/embed/FCzxNohPGTA'
    frameborder='0' allowfullscreen)
