extends layout

block content
  h1= title
  &nbsp
  ul.social
    a(href='https://github.com/zhanwenchen'): img(src='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-social-github.svg')
    a(href='https://www.linkedin.com/in/zhanwenchen'): img(src='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-social-linkedin.svg')
    a(href='https://twitter.com/philzhanwenchen'): img(src='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-social-twitter.svg')
