extends layout

block content
  h1= title
  | &nbsp
  p I co-created a public transportation web app with Anand Ranganathan
    | at Stamford Hackathon 3.0 in Sep 2016.

  p This web app provides commuters with multi-modal route options replete with
    | cost and time by segment. Users can also pay for each segment.
    | For example, a user can purchase a Metro North Railroad ticket or
    | call an Uber within the app.

  p We implemented this project with the Google Cloud Platform (Python, NoSQL),
    | the Google Maps API (JavaScript), and the Uber API (JavaScript).

  p We experienced a steep learning working with the Google Cloud Platform,
    | especially regarding its requirement for Flask and Eclipse. In the future,
    | I wish to port the project to Heroku due to its free options and ease
    | of deployment.

  p
    a(href='https://github.com/zhanwenchen/train-stream')
      | View Source Code on Github
